<p>pipe works!</p>
<div class="container">

    <h4>Today's date:{{toDate}}</h4>
    <h4>medium:{{toDate |date:'medium'}}</h4>
    <p>short : {{toDate | date:'short'}} </p>
    <p>fullDate : {{toDate | date:'fullDate'}} </p>
    <p>longDate : {{toDate | date:'longDate'}} </p>
    <p>mediumDate : {{toDate | date:'mediumDate'}} </p>
    <p>shortDate : {{toDate | date:'shortDate'}} </p>
    <p>mediumTime : {{toDate | date:'mediumTime'}} </p>
    <p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
    <p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>`
</div>
<h4>uppercase and lowercase pipe</h4>
<div class="container">
    <p>{{msg}}</p>
    <p>{{msg|uppercase}}</p>
    <p>{{msg|lowercase}}</p>
</div>


<h4> slice pipe</h4>
<div class="container">
    <p>{{msg}}</p>
    <p>{{msg|slice:2}}</p>
    <p>{{msg|slice:0:5}}</p>
    <p>{{msg|slice:-5}}</p>
   
</div>


<h4> number pipe</h4>
<div class="container">
<p>{{n}}</p>   
<p>{{n|number}}</p>  
<p>{{n|number:'3.1-2'}}</p>   
<p>{{n1|number:'3.1-2'}}</p>   
</div>

<h4>PercentePipe</h4>
<div class="container">
    <p>{{per}}</p>   
    <p>{{per|percent}}</p> 
    <p>Example 2 :{{per | percent:'1.2-2'}} </p>`  
    </div>
    
<h4> CurrencyPipe</h4>
<div class="container">

    <p>Example 1 :{{cur | currency }} </p>
    <p>Example 2 :{{cur | currency:'INR'}} </p>`
</div>
